.masterDataCenterContainer{
    height: 90%;
}
.dataCenterContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: green; */
}
.dataCenterGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.grid-item{
    height:230px;
}
.dcCardPageContainer{
    background: rgba(139, 135, 255, 0.25);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius:0px 20px 20px 20px;
}
.dcClickedCloseButtonContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

    
.actualContent{
    height: 100%;
}

.dataCenterGrid.active{
    grid-template-columns: 25% 75%;
}

.dcSelectContainer{
    display: flex;
    width: 100%;
    background-color: red;
}

.dcSelectContainer>div{
    flex: 1;
}

@media screen and (max-width:1399px) {
    .dataCenterGrid{
        grid-template-columns: 50% 50%;
        
    }
    .dataCenterGrid.active{
        grid-template-columns: 50% 50%;
    }

}
