.addFacultyInputContainer{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.addFacultyInputMasterContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addFacultyInputContainer>div{
   flex: 1;
}

.addFSaveButton{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: center;
    width: 100%;
}

/* @media screen and (max-width:1600px) {
    .addFacultyInputContainer{
        grid-template-columns: min-content min-content;
    }
}

@media screen and (max-width:1150px) {
    .addFacultyInputContainer{
        grid-template-columns: min-content;
    }
} */