.circlesContainer{
    display: flex;
    gap: 10px;
}
.masterEntryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.foilNoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.FoilCardLabelContainer{
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.paginationFoil{
    display: flex;
    justify-content: center;
}

.foilCardEntryTable{
    overflow: scroll;
}